<!DOCTYPE html>
<html>
<head>
  <title>StoryBook</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  tinyMCE.init({
    mode: 'textareas',
    theme: 'advanced'
  });
</script>
</head>
<body>
<h1>Booker V 2.3.11</h1>
  <h1><i>Publish It, Build and publish your book here!</i></h1>
  <div id="navigation">
    <%= render "layouts/navigation" %>
  </div>
<%= yield %>

</body>
</html>
